---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home';


const hour = new Date().getHours()

function bgClass() {

	if (hour >= 5 && hour < 12) {
		return 'morning'
	}
	if (hour >=12 && hour <18) {
		return 'afternoon'
	}
	if(hour >= 18 && hour < 22) {
		return 'evening'
	}
	else{
		return 'night'
	}
	
}

---

<Layout title="Welcome to Astro.">
	<main class={bgClass()} >
		<Home client:load ></Home>
	</main>	
</Layout>


